<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".DemoApplication"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="NfZI4ctGfy0iaL82Y4TR8Guigbz4HA8B"/>

        <activity
            android:name=".booklist.activity.BookListMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"
            android:label="@string/title_activity_book_list_main"
            />
        <activity
            android:name=".booklist.activity.EditBookActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"
            android:label="EditBookActivity"
            />
        <activity
            android:name=".combined.activity.ActivityCombined"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"
            android:label="EditBookActivity"
            />

    </application>

</manifest>